/* Fonts */
@font-face {
    font-family: roboto;
    src: url('res/roboto.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: roboto-med;
    src: url('res/roboto-med.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Vars */
:root {
    --background-color: #f1f1f1;
    --text-light: #888888;
    --primary-color: #3f51b5;
    --accent-color: #f44336;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    background-image: url(res/cpu-32-bit.svg);
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: 32px center;
    text-indent: 112px;
    border-radius: 0 0 20px 20px;
}
.header-title {
    line-height: 100px;
    font-size: 28px;
    color: #fff;
    font-family: roboto-med, arial;
    -webkit-font-smoothing: antialiased;
}
.header-links {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}
.link-item {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url(res/book-open-page-variant.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    transition: background-color .3s ease;
    border-radius: 12px;
    color: #fff;
}
.link-item:hover {
    background-color: rgba(255,255,255,0.1);
}

/* Body */
body {
    margin: 0;
    font-family: roboto, arial;
    background-color: var(--background-color);
}
.body {
    position: absolute;
    top: 110px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

/* Form */
.form-container {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid #bbbbbb;
    transition: width .3s ease, height .3s ease;
    vertical-align: top;
    box-sizing: border-box;
}
.form-container::before {
    content: attr(name);
    position: absolute;
    margin-top: -41px;
    background-color: var(--background-color);
    color: var(--text-light);
    padding: 0 6px;
    font-size: 14px;
}
.label-group {
    display: inline-block;
    margin-top: 20px;
}
.value-label {
    display: inline-block;
    width: 56px;
    text-align: right;
    margin-right: 4px;
    color: #4c4c4c;
}
.value-select {
    display: block;
    width: 130px;
    margin-left: 60px;
    margin-top: 4px;
    border: none;
    color: #4c4c4c;
    background-color: transparent;
    margin-bottom: 10px;
    outline: none;
}

/* Text Input */
.hex-form {
    border: 0px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    box-sizing: border-box;
    transition: box-shadow .3s ease;
}
.hex-form:hover, .hex-form:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .12);
}
.hex-input {
    padding: 12px;
    width: 180px;
    height: 40px;
    text-align: center;
    outline: none;
    border-radius: 6px 0 0 6px;
    margin-right: -4px;
}
.hex-input[disabled] {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}
.hex-input[disabled]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}
#convertOutput {
    width: 258px;
}
.hex-number {
    width: 70px;
}
.hex-submit {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: var(--accent-color);
    color: #fff;
    height: 40px;
    width: 80px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    background-image: url(res/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.hex-separate {
    margin: 3px;
    border-radius: 6px;
    vertical-align: middle;
}
label {
    position: absolute;
    color: var(--text-light);
    margin-left: 6px;
    margin-top: -20px;
    font-size: 12px;
}
.input {
    width: 238px;
}
input[type="checkbox"] {
    position: relative;
    width: 14px;
    height: 14px;
    margin: 13px 20px 0 20px;
}

@media only screen and (max-device-width: 480px) {
    .value-label {
        text-align: left;
        margin-left: 4px;
    }
    .value-select {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .input {
        width: 100%;
    }
    .form-container {
        width: 100%;
        margin: 10px 0;
    }
}

/* Effects */
.-ripple-container {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 9999;
}
.-ripple-item {
	position: absolute;
	width: 0;
	height: 0;
	padding-bottom: 0;
	transform: translate(-50%, -50%);
	background-color: #fff;
	opacity: 0;
	border-radius: 50%;
	transition: padding-bottom .6s ease, width .6s ease, opacity .3s ease;
}
.-ripple-visible {
	width: 300%;
	padding-bottom: 300%;
	opacity: .3;
}
.-tooltip {
	position: fixed;
	transform: translateX(-50%);
    font-family: roboto, arial;
	opacity: 0;
	overflow: hidden;
	color: transparent;
	padding: 1px 15px;
	max-width: 0;
	height: 32px;
	line-height: 32px;
	border-radius: 8px;
	transition: max-width 1.5s ease, opacity .2s ease, color .8s ease, margin-top .4s ease;
	z-index: 9999999;
	pointer-events: none;
	font-size: 15px;
	margin-top: -20px;
	white-space: nowrap;
   box-sizing: content-box;
}
.-tooltip-right { transform: translateX(-100%); }
.-tooltip-bottom { margin-top: 20px; }
.-tooltip.-tooltip-visible {
	width: auto;
	opacity: 1;
	color: #fff;
	max-width: 100%;
	margin-top: 0;
}
.-ripple {
	position: absolute;
	width: 0;
	padding-bottom: 0;
	border-radius: 50%;
	transform: translate(-50%, -50%) translateZ(0);
	left: 50%;
	top: 50%;
	background-color: rgba(0,0,0,.6);
	z-index: -1;
	transition: width 1s ease, padding-bottom 1s ease;
}
.-ripple.-tooltip-visible {
	width: 300%;
	padding-bottom: 300%;
}
.snackbar {
    font-family: roboto, arial;
	position: fixed;
	z-index: 9999;
	width: auto;
	height: 56px;
	line-height: 56px;
	padding: 0 35px;
	background-color: #3c3c3c;
	color: #fff;
	bottom: -100px;
	left: 50%;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,.2);
	transform: translateX(-50%);
	transition: bottom .3s ease;
   pointer-events: none;
}
.snackbar-visible { bottom: 10px; }
@keyframes snackbar {
	0%, 100% { bottom: 10px; }
	50% { bottom: -100px; }
}